div{
    width: 400px;
    margin:50px auto;
    font-size: 1.5em;
}
#calculate{
    width:110px;
    height: 50px;
    margin-left: 79px;
    margin-top:10px ;
    margin-bottom: 10px;
    font-size: 1em;
}
input label{
    margin:5px 0;
    font-size: 1.2em;
    padding-left: 5px;
}
input{
    height: 30px;
    width: 200px;
}